<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Open+Sans" rel="stylesheet">
</head>
<body>
    <div class="content">
        <header>
            <h1><img class="img_left" src="assets/images/header_img_left.png"><span class="service_name">Vanilla Cloud</span><img class="img_right" src="assets/images/header_img_right.png"></h1>
            <h2>"Analyze your text! what do you want?</h2>
        </header>
        <div class="main_content">
            <div class="input_window">
                <textarea class="input_text" placeholder="Write down your text (English Only)"></textarea>
                <div class="word_counter">
                    <span>type : 0</span>
                </div>
            </div>
            <div class="show_panel">
                <div class="control_window">
                    <div class="control_buttons">
                        <button type="button" class="active">List</button>
                    </div>
                    <div class="control_buttons">
                        <button type="button">Canvas</button>
                    </div>
                    <div>
                        <label>Color</label>
                        <select class="color-select">
                            <option value="bright">Bright-default</option>
                            <option value="rainbow">Rainbow</option>
                            <option value="baby">Baby</option>
                            <option value="blue">Blue</option>
                        </select>
                    </div>
                    <div>
                        <label>Font</label>
                        <select class="font-select">
                            <option value="impact">Impact-default</option>
                            <option value="lobster">Lobster</option>
                            <option value="indieFlower">Indie Flower</option>
                            <option value="openSans">Open sans</option>
                        </select>
                    </div>
                </div>
                <div class="show_window"></div>
                <div class="description_layer">
                    <ul>
                        <li>Your analysis will be here!</li>
                        <li>Type or paste the text you want to analyze</li>
                        <li>Choose options according to your favorite style</li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <span class="made_by">Made By Beautifulife</span>
        </footer>
    </div>
</body>
</html>
