<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <header>
            <h1><img>Vanilla Cloud</h1>
            <h2>Analyze your text</h2>
        </header>
        <div class="main_content">
            <div class="input_window">
                <textarea class="input_text" placeholder="텍스트를 입력하세요."></textarea>
                <div class="word_counter"></div>
            </div>
            <div class="show_window">
                <div class="show_cloud"></div>
            </div>
        </div>
        <footer>
            <span class="made_by">made by beautifulife</span>
        </footer>
    </div>
</body>
</html>
